/* Leave enough space for sticky footer in the root */
html,
body {
  height: 100%;
  position: relative;
}

#root {
  /* height: 100% will go to 100% of the container height; min-height: 100% should expand past the container's height if it needs too. */
  min-height: 100%;
  display: block;
  position: relative;
  /* push root element up to make room for nav */
  padding-bottom: 116px;
}

footer {
  display: inline-block;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}